{% extends "main/base.html" %}

{% load static %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<section class="section1">
    <div class="container">
        <div class="section1__row">
            <div class="section1__col">
                <div class="caption">
                    <h1>Присоединяйтесь к проэкту Илона Маска и зарабатывайте от
                        <img src="{% static 'main/4000.svg' %}" />
                        <span class="text-red">ежемесячно!</span>
                    </h1>
                </div>
                <h3>Откройте счет и начните зарабатывать</h3>
                <div class="form">
                    <form action="{% url 'main:send' %}" method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <button class="btn-submit" type="submit">
                            <img src="{% static 'main/icon-hand-money.svg' %}" /> Начать зарабатывать
                        </button>
                    </form>
                </div>
            </div>
            <div class="section1__col">
                <div class="section1__video">
                    <video src="{% static 'main/main.mp4' %}" autoplay controls></video>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section2">
    <div class="container">
        <div class="section2__body">
            <h2>Это революция, которая <span class="text-red">обеспечит</span> всех желающих необходимыми
                деньгами</h2>
            <div class="section2__row">
                <div class="section2__col">
                    <p class="percent text-red">98.7%</p>
                    <p>Именно с такой точностью
                        работает система Tesla X</p>
                </div>
                <div class="section2__col">
                    <p class="percent text-red">300%</p>
                    <p>Именно такой средний заработок
                        проекта Tesla X от начальных
                        вложений</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section3">
    <div class="container">
        <div class="section3__body">
            <h2>Используйте свой смартфон!</h2>
            <p>Современный проект Tesla X доступен на смартфонах, планшетах и компьютерах. Следите за своим доходом где
                и когда
                Вам удобно, в любой точке мира.</p>
            <div class="section3__row">
                <div class="section3__col">
                    <img src="{% static 'main/icon-windows.svg' %}" alt="Windows" />
                    <p>Windows</p>
                </div>
                <div class="section3__col">
                    <img src="{% static 'main/icon-apple.svg' %}" alt="Apple" />
                    <p>Apple</p>
                </div>
                <div class="section3__col">
                    <img src="{% static 'main/icon-Google.svg' %}" alt="Google Play" />
                    <p>Google Play</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section4">
    <div class="container">
        <div class="section4__body">
            <h2 class="caption">Почему вам стоит начать инвестировать в Tesla X?</h2>
            <p class="caption">Преимущества инвестирования с нами</p>
            <p>Инвестиции - это наиболее прибыльный, быстрый и доступный способ заработка. Вложения приносят стабильно
                высокий доход, не требуя при этом вашего непосредственного участия в процессе - продолжайте заниматься
                своими делами, пока капитал растет! Став инвестором, вы не только достигните полной финансовой
                независимости, но и обеспечите себе стабильность на годы вперед.</p>
            <div class="section4__row">
                <div class="section4__col">
                    <img src="{% static 'main/Icon-feather.svg' %}" alt="Leaf" />
                    <p>Низкий порог входа, начинать
                        инвестировать можно с 200 евро.</p>
                </div>
                <div class="section4__col">
                    <img src="{% static 'main/Icon-earth.svg' %}" alt="Leaf" />
                    <p>Полная автоматизация всех процессов, обеспечивающая крупный доход даже тем, кто не имеет опыта.
                    </p>
                </div>
                <div class="section4__col">
                    <img src="{% static 'main/time.svg' %}" alt="Leaf" />
                    <p>Первая прибыль в течении всего одной недели.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section5">
    <div class="container">
        <div class="section5__body">
            <h2 class="caption">Отзывы участников Тесла Икс</h2>
            <p>Ежедневно к проекту Илона Маска присоединяются десятки людей со всего мира. Они с удовольствием делится
                результатами своего
                заработка, ведь он гораздо выше средней зарплаты в Европе!
            </p>
            <div class="section5__row">
                <div class="section5__col">
                    <div class="review__header">
                        <img src="{% static 'main/Quote-begin.svg' %}" alt="quotes">
                        <p>Рекомендую проект каждому, кто хочет начать много зарабатывать, не прикладывая усилий. Моя
                            первая
                            инвестиция вернулась в двукратном размере всего через 4 дня, а уже спустя месяц я смогла
                            позволить себе покупку автомобиля. Фантастика!</p>
                    </div>
                    <div class="review__body">
                        <img class="review__avatar" src="{% static 'main/avatar_1.png' %}" alt="avatar" />
                        <h3 class="review__name">Инга Дяченко</h3>
                        <div class="review__row">
                            <div class="review__col">
                                <img src="{% static 'main/camera.svg' %}" />
                                <p>Инвестировал</p>
                                <img src="{% static 'main/200.svg' %}" />
                            </div>
                            <div class="review__col">
                                <img src="{% static 'main/camera.svg' %}" />
                                <p>Заработал</p>
                                <img src="{% static 'main/1800.svg' %}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section5__col">
                    <div class="review__header">
                        <img src="{% static 'main/Quote-begin.svg' %}" alt="quotes">
                        <p>Решил попробовать себя в роли инвестора на проекте - даже не имея опыта, я сразу влился в
                            процесс и начал зарабатывать 500 евро неделю. Быстро, эффективно, надежно! 5 звезд.</p>
                    </div>
                    <div class="review__body">
                        <img class="review__avatar" src="{% static 'main/Avatar_2.png' %}" alt="avatar" />
                        <h3 class="review__name">Дмитрий Петров</h3>
                        <div class="review__row">
                            <div class="review__col">
                                <img src="{% static 'main/camera.svg' %}" />
                                <p>Инвестировал</p>
                                <img src="{% static 'main/1000.svg' %}" />
                            </div>
                            <div class="review__col">
                                <img src="{% static 'main/camera.svg' %}" />
                                <p>Заработал</p>
                                <img src="{% static 'main/7800.svg' %}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section5__col">
                    <div class="review__header">
                        <img src="{% static 'main/Quote-begin.svg' %}" alt="quotes">
                        <p>Проект - реальная возможность для каждого обеспечить себе достойную жизнь. Присоединился
                            после
                            того, как меня сократили на карантине - теперь стабильно получаю 2700 евро. в месяц, работая
                            в
                            свободном графике. Очень удобно и легко - всем советую.</p>
                    </div>
                    <div class="review__body">
                        <img class="review__avatar" src="{% static 'main/Avatar_3.png' %}" alt="avatar" />
                        <h3 class="review__name">Александр Короленко</h3>
                        <div class="review__row">
                            <div class="review__col">
                                <img src="{% static 'main/camera.svg' %}" />
                                <p>Инвестировал</p>
                                <img src="{% static 'main/7500.svg' %}" />
                            </div>
                            <div class="review__col">
                                <img src="{% static 'main/camera.svg' %}" />
                                <p>Заработал</p>
                                <img src="{% static 'main/326000.svg' %}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section6">
    <div class="container d-flex">
        <div class="section6__body">
            <div class="section6__row">
                <div class="section6__col section6__form">
                    <div class="form">
                        <form action="{% url 'main:send' %}" method="POST">
                            {% csrf_token %}
                            {{ form }}
                            <button class="btn-submit" type="submit">
                                <img src="{% static 'main/icon-hand-money.svg' %}" /> Начать зарабатывать
                            </button>
                        </form>
                    </div>
                </div>
                <div class="section6__col section6__musk">
                    <img src="{% static 'main/musk.jpg' %}" alt="Ilon Musk" />
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}