{% extends "main/page.html" %}

{% load static %}

{% block content %}
<section class="form-section">
    <div class="container">
        <div class="form-section__body">
            <div class="form">
                <form  method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn-submit" type="submit">
                        <img src="{% static 'main/icon-hand-money.svg' %}" /> Начать зарабатывать
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}